@model BookLib.WebApp.Models.BookInfoViewModel
@{
    ViewData["Title"] = "List of books";
}

<h1 style="text-align:center">@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>AuthorName</th>
            <th>BookName</th>
            <th>IsCompleted</th>
            <th>FinishPage</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
        </tr>
        }
    </tbody>
</table>
    <a asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber - 1)"
       class="btn btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Previous page
    </a>
    <a asp-action="Index"
       asp-route-page="@(Model.PageInfo.PageNumber + 1)"
       class="btn btn-outline-dark">
        Next page
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
